#images #image {
  margin-right: 10em;
}

#icons, #circle {
  bottom: 5em;
  margin-left: 5em;
}
#icons img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
}

#icons .c1, #icons .c6 {
  left: 240px;
}
#icons .c2, #icons .c4 {
  left: -50px;
}
#icons .c3, #icons .c5 {
  left: 530px;
}
#icons .c1 {
  top: -720px;
}
#icons .c2, #icons .c3 {
  top: -590px;
}
#icons .c4, #icons .c5 {
  top: -280px;
}
#icons .c6 {
  top: -140px;
}
#circle img {
  width: 650px;
  height: 650px;
}





