/* Container
*/

body {
  width: 90%;
  margin: 0 auto;
}


/* The Grid
*/

#sidebar {
  float: left;
  width: 20%;
  position: fixed;
  left: 5%;
  bottom: 1.25em;
}

#content {
  width: 70%;
  position: relative;
  left: 25%;
}






/* Sidebar
*/

#header {
  padding: 1.25em 0;
}
#header h1, #header h2 {
  display: none;
}
#sidebar nav h3 {
  padding: 0 0 .612em 0;
}


/* Content
*/

#images, #icons {
  position: fixed;
  bottom: 3.75em;
}
#images {
  width: 70000px;  
}
#images #image {
  float: left;
  opacity: .2;
}
#images #image.active {
  opacity: 1;
}
#images img {
  max-width: 700px;
  max-height: 500px;
  width: auto;
  height: auto;
  cursor: pointer;
}


#icons {
  display: none;
}
#icons img {
  width: auto;
  height: auto;
  cursor: pointer;
}

#thumbs {  
  width: 700px;  
  display: none;
}
#thumbs img {
  width: 150px;
  margin: 5% 1%;
}
#thumbs li {
  vertical-align: top;  /* thumbs larger than usual are put at bottom by code */
}
