/* Container
*/

body {
  width: 90%;
  margin: 0 auto;
}


/* The Grid
*/

#sidebar {
  float: left;
  width: 20%;
  height: 100%;
  position: fixed;
  left: 5%;
  top: 18%;
}

#content {
  width: 70%;
  position: relative;
  left: 25%;
  overflow: hidden;
}


/* Header - Sidebar
*/


#header {
  padding: 1.25em 0;
}
#header h1, #header h2 {
  display: none;
}
#sidebar nav h3 {
  padding: 0 0 .612em 0;
}


/* Content
*/


#images {
  width: 70000px;
  margin-top: 20%;
}
#images #image {
  float: left;
  margin-right: 10em;
  opacity: .2;
}
#images #image.active {
  opacity: 1;
}
#images img {
  max-width: 700px;
  max-height: 700px;
  width: auto;
  height: auto;
  cursor: pointer;
}


#icons {
  display: none;
}
#icons img {
  width: auto;
  height: auto;
  margin: 5% 9% 1% 0;
  cursor: pointer;
}

#thumbs, #icons{
  position: fixed;
  top: 15%;  
}
#thumbs {  
  width: 700px;  
  display: none;
}
#thumbs img {
  width: 150px;
  margin: 5% 1%;
}
#thumbs li {
  vertical-align: top;  /* thumbs larger than usual are put at bottom by code */
}
