/* Colors
*/

body {
  background: #000;
  color: #fff;
}

a, a:visited {
  text-decoration: none;
  color: #656565;
}
a:hover {
  color: #fff;
}


/* Typography
*/

body {
  font-family: 'Comfortaa', cursive;
  font-size:100%; 
  line-height:1.25; 
}
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:2em; padding:1.25em 0; }
h2 { font-size:1.61538em; padding:1.30936em 0; }
h3 { font-size:1.23077em; padding:1.40579em 0; }



/* Header - Sidebar
*/

#categories, #contact {
  opacity: .5;
}
.opacity-1 {
  opacity: 1 !important;
}
.opacity-0 {
  opacity: .2;
}

/* Content
*/



#thumbs img {
  border: 1px solid #656565;
}


