#body {
  background: #000;
  color: #fff;
}

a, a:visited {
  color: #000;
  text-decoration: none;
}


/* Header
*/


nav li {
  border-bottom: 1px solid;
}
nav li.active, nav li.spacer {
  border-bottom: 1px solid #fff;
}




/* Content
*/

#category-image {
  background: #000;
}

#images .image, #border-left {
  background: #fff;
}


#images .active {
  background: #fff;
}



/* Page
*/

#content.page {
  background: #000;
  color: #fff;
}
#content.page a, #content.page a:visited {
  background: #fff;
  color: #000;
}

